body {
	height: 100%

}



.row{
	margin-left: 15px;
	margin-right: -15px;
}

.home-page-background{
	background: url(http://plato.cs.virginia.edu/~wcc4ch/Project/rotunda.jpg);
	background-size: cover;
	min-height: 100%;
	min-width: 100%
}

.home-page-background nav{
	background:rgba(0,0,0,0.7);
	border-radius: 5px;
}

.rateForm {
	background:rgba(0,0,0,0.7)!important;
	border-radius: 5px!important;
}


.min-headroom{
	margin-top: 10px;
}


.home-title-contatiner{
	border-radius: 5px;
	color: white;
	background: rgba(0,0,0,0.6);
}

.centered-text{
	text-align: center;
}

.hooPoo-logo{
	width: 53px;
    height: 50px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-image: url(http://plato.cs.virginia.edu/~wcc4ch/Project/logo.png);
    background-color: white;
    position: relative;
    float: left;
    cursor: pointer;
    top: 2px;
    margin-left: 15px;
    margin-top: 12px;
    margin-bottom: 18px;
}


.navbar-default .navbar-brand {
	color:white!important;
	width:16em;
	padding:13.5px 60px;
}

.aboutuspage {
	border-radius: 5px;
	color:white;
	background:rgba(0,0,0,0.6);
	margin-top: 42px;

}

.aboutustext {
	font-size:1.2em;
	color:white;
}

.aboutuspadding {
	padding-left:50px;
	padding-right:50px;
}

.navbar-collapse{
	width:auto;
	border-top: 0;
	box-shadow: none;
	padding-right: 15px;
	padding-left: 15px;
}

.navbar-collapse.collapse{
	display: block!important;
	height:auto!important;
	padding-bottom: 0;
	overflow: visible!important;
}

.navbar-default ul.navbar-nav>li>a{
	font-size:1.2em;
	color:white;
}



.home-content{
	padding: 75px 10px 0px 10px;
}

.home-content h3{
font-weight: 400;
padding-top: 20px;
}

.home-content h1{
font-weight: bold;
font-size:34pt;
padding-bottom: 20px;
}

.home-title-container{
	border-radius: 5px;
	color:white;
	background:rgba(0,0,0,0.6);

}

.more-headroom{
	margin-top: 40px;
}

.home-map{
	width:100%;
	height:800px;
	margin-bottom: 50px;
}



.reivewLinks{
	font-size: 16px;
	font-weight: bold;
}


.new-bathroom-form-container{
	margin-top:32px;

}

.new-bathroom-form{
	margin-top:32px;
}

.form-group{
	margin-bottom:15px;
}

.form-control{
	display:block;
	width:100%;
	height:34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857;
	color: black;
	background-color: #fff
	background-image:none;
	border:1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s
}

.linkbutton{
	border:none;
	position: relative;
	border-radius: 5px;
	padding:10px;
	background-color: #8377af;
	color: #FFF;

}

.slidecontainer {
    width: 25%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 23px;
    height: 24px;
    border: 0;
    background: url('poop_emoji.png');
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 23px;
    height: 24px;
    border: 0;
    background: url('poop_emoji.png');
    cursor: pointer;
}


.btn {

	margin-top: 6px;
    margin-right: 10px;
}






		/* Table */
		.data-table {
			border-collapse: collapse;
			font-size: 14px;
			min-width: 537px;
		}

		.data-table th, 
		.data-table td {
			border: 1px solid #e1edff;
			padding: 7px 17px;
		}
		.data-table caption {
			margin: 7px;
		}

		/* Table Header */
		.data-table thead th {
			background-color: #508abb;
			color: #FFFFFF;
			border-color: #6ea1cc !important;
			text-transform: uppercase;
		}

		/* Table Body */
		.data-table tbody td {
			color: #353535;
		}
		.data-table tbody td:first-child,
		.data-table tbody td:nth-child(4),
		.data-table tbody td:last-child {
			text-align: right;
		}

		.data-table tbody tr:nth-child(odd) td {
			background-color: #f4fbff;
		}
		.data-table tbody tr:hover td {
			background-color: #ffffa2;
			border-color: #ffff0f;
		}

		/* Table Footer */
		.data-table tfoot th {
			background-color: #e5f5ff;
			text-align: right;
		}
		.data-table tfoot th:first-child {
			text-align: left;
		}
		.data-table tbody td:empty
		{
			background-color: #ffcccc;
		}




/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_signup_form  */

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
    padding: 16px;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
}




